<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <script src="assets/js/messages.js" defer></script>
    <link rel="stylesheet" href="assets/css/messages.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container" id="sidebar">
        <div id="dms">
            <button id="0" class="profile" onclick="changeDM(this)" autofocus>
                 <img class="pfp" src="assets/1.png" alt="test profile pic">
                 <div class="dmtext">
                     <div class="dmname">Test Profile</div>
                     <div class="dmstatus">
                        <div class="statuspic"></div>
                     </div>
                 </div>
            </button>
            <div class="profilespacer"></div>
            <button id="1" class="profile" onclick="changeDM(this)" autofocus>
                <img class="pfp" src="assets/1.png" alt="test profile pic">
                <div class="dmtext">
                    <div class="dmname">Test Profile 2</div>
                    <div class="dmstatus">
                       <div class="statuspic"></div>
                    </div>
                </div>
           </button>
           <div class="profilespacer"></div>
        </div>
    </div>
    <div class="container" id="maincontent">
        <div id="messages">
        </div>
        <div id="messagebox">
            <input id="inputmessage">
            <button id="sendbtn" class="fa fa-send"></button>
        </div>
    </div>
</body>
</html>