<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <script src="assets/js/messages.js" defer></script>
    <link rel="stylesheet" href="assets/css/messages.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container" id="sidebar">
        <div id="dms">
        </div>
        <div id="sidebarbottom">
            <div id="controls">
                <div class="defbutton control fa fa-plus" id="addfriend"></div>
                <div class="defbutton control fa fa-gear" id="settings"></div>
            </div>
            <div class="defbutton control fa" id="profilecontrol">
                <img class="pfp" id="userpfp">
                <div id="usercontainer">
                    <div id="usertext">Royal</div>
                    <div id="userstatus" class="statuspic"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="maincontent">
        <div id="messages">
            <div class="nodms">No prior DMs. Start a new conversation!</div>
        </div>
        <div id="messagebox">
            <input id="inputmessage">
            <button id="sendbtn" class="fa fa-send"></button>
        </div>
    </div>
</body>
</html>