* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    display: flex;
    padding: 25px;
    gap: 50px;
    min-height: 100vh;
    background: #e1eec3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f05053, #e1eec3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f05053, #e1eec3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    background-color: rgba(167, 167, 167, 0.5);
    height: 600px;
    width: 700px;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 2.5px 4px 10px -1px rgba(99, 99, 99, 0.48);
    padding-left: 25px;
    padding-right: 25px;
}

#sidebar {
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#maincontent {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
}

#dms {
    height: 80%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profile {
    display: flex;
    height: 80px;
    width: 100%;
    margin-bottom: 25px;
    gap: 25px;
    background: none;
    border: 0px solid;
    border-radius: 20px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    transition: all 0.25s;
    cursor: pointer;
}

.profile:hover {
    background-color: rgba(225, 225, 225, 0.5);
}

.enableddm {
    background-color: rgba(225, 225, 225, 0.5);
}

.dmtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(100, 44, 44, 0.75);
}

.dmname {
    font-size: 32px;
    font-weight: 500;
}

.dmstatus {
    display: flex;
}

.pfp {
    border: 5px solid whitesmoke;
    border-radius: 50%;
    max-width: 100%;
    max-height: 80px;
    width: auto;
    height: auto;
}

.statuspic {
    height: 25px;
    width: 25px;
    border: 0px solid;
    border-radius: 50%;
    background-color: rgb(4, 189, 4);
}

.spacer {
    margin-left: 50%;
    height: 5px;
    width: 30px;
    background-color: rgba(102, 166, 124, 0.4);
    border: 0px solid;
    border-radius: 5px;
}





#messages {
    height: 90vh;
    width: auto;
    padding: 30px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#messagebox {
    height: 7.5%;
    width: auto;
    display: flex;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#inputmessage {
    flex-grow: 1;
    border: 0px solid;
    background-color: rgba(255, 238, 224, 0.3);
    border-radius: 50px;
    outline: none;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    color: rgba(53, 23, 23, 0.75);
    font-weight: 400;
    padding-left: 25px;
    transition: background-color 0.25s;
}

#inputmessage:hover {
    background-color: rgba(255, 238, 224, 0.5);
}

#inputmessage:focus {
    background-color: rgba(255, 238, 224, 0.5);
    outline: solid 2px rgba(163, 70, 70, 0.75);
}

.defbutton {
    border-radius: 10px;
    background-color: rgba(225, 234, 192, 0.8);
    box-shadow: 3px 3px 5px 1px rgb(180 190 145 / 80%);
    color: rgba(76, 35, 35, 0.75);
    font-size: 24px;
    transition: all 0.20s;
    cursor: pointer;
}

.defbutton:hover {
    background-color: rgba(225, 234, 192, 1);
    box-shadow: 3px 3px 2.5px 3px rgb(180 190 145 / 80%);
}

#sendbtn {
    align-self: center;
    border-radius: 10px;
    margin-left: 40px;
    height: 110%;
    flex-grow: 0.05;
    background-color: rgba(225, 234, 192, 0.8);
    color: rgba(76, 35, 35, 0.75);
    font-size: 24px;
    transition: all 0.25s;
    cursor: pointer;
    box-shadow: 3px 3px 5px 1px rgb(180 190 145 / 80%);
}

#sendbtn:hover {
    background-color: rgba(225, 234, 192, 1);
    box-shadow: 3px 3px 2.5px 3px rgb(180 190 145 / 80%);
}

.messagerecieve {
    display: flex;
    border: 0px solid;
    border-radius: 50px;
    transition: all 0.25s;
}

.messagerecieve:hover {
    background-color: rgba(225, 225, 225, 0.5);
}

.textinfo {
    height: auto;
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.username {
    color: rgba(76, 35, 35, 0.75);
    font-size: 24px;
    font-weight: 500;
}

.messagetext {
    font-size: 20px;
    color: rgba(47, 23, 23, 0.9);
    justify-content: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(225, 234, 192, 0.8);
    border: 0px solid;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.nodms {
    align-self: center;
    justify-self: center;
    font-weight: 500;
    font-size: 32px;
    color: rgba(57, 57, 57, 0.5);
    margin-top: 35%;
}



/* Sidebar Bottom Section */

#controls {
    height: 50%;
    width: auto;
    display: flex;
    gap: 30px;

}

#sidebarbottom {
    position: relative;
    height: 20%;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.control.fa {
    width: 125px;
    height: 75px;
    background-color: rgba(240, 80, 83, 0.5);
    box-shadow: 4px 4px 10px -5px rgba(99, 99, 99, 0.48);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.control:hover {
    background-color: rgba(240, 80, 83, 0.6);
    box-shadow: 4px 4px 10px -2.5px rgba(99, 99, 99, 0.48);
}

#profilecontrol {
    font-family: 'Work Sans', sans-serif;
    width: auto;
    max-height: 100px;
    justify-content: flex-start;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(167, 167, 167, 0.5);
    display: flex;
    font-weight: 600;
}

#userpfp {
    border-color: rgba(255, 255, 255, 0.75);
    max-height: 100px;
    width: 100px;
}

#usercontainer {
    font-size: 28px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: -25px;
}

#addfriendmodal {
    z-index: 2;
    height: 0px;
}

#addfriendmodal,
#reqfriendmodal {
    position: absolute;
    margin-top: -185px;
    width: 100%;
    opacity: 0;
    background-color: rgba(218, 136, 129);
    box-shadow: 4px 4px 10px -2.5px rgba(99, 99, 99, 0.48);
    padding: inherit;
    left: 0px;
    align-items: center;
    gap: 15px;
    transition: opacity 0.25s;
    transition: height 0.15s;
    flex-direction: column;
}

#addfriendinput {
    height: 30%;
    width: 70%;
    border: 0px solid;
    background-color: rgba(255, 238, 224, 0.3);
    border-radius: 50px;
    outline: none;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    color: rgba(53, 23, 23, 0.75);
    font-weight: 600;
    text-align: center;
    transition: background-color 0.25s;
}

#addfriendinput:hover {
    background-color: rgba(255, 238, 224, 0.5);
}

#addfriendinput:focus {
    background-color: rgba(255, 238, 224, 0.5);
}

#addfriendinput::placeholder {
    font-weight: 500;
    opacity: 1;
}

#addfriendbutton {
    height: 40%;
    width: 20%;
}

#addfriendcontrols {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 15px;
}

#addfriendtext {
    width: 100%;
    margin-top: 25px;
    margin-bottom: -25px;
    font-size: 32px;
    text-align: center;
    color: rgba(47, 23, 23, 0.8);
    font-weight: 500;
}

#reqfriendmodal {
    height: 175px;
    z-index: 1;
    display: none;
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
}

#reqfriendtext {
    width: 100%;
    font-size: 32px;
    text-align: center;
    color: rgba(47, 23, 23, 0.8);
    font-weight: 500;
}

#reqfriendheader {
    width: 100%;
    display: block;
    font-size: 24px;
    text-align: center;
    color: rgba(47, 23, 23, 0.686);
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#reqfriendcontrols {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#acceptfriend,
#rejectfriend {
    max-width: 100px;
    height: 50px;
    font-size: 28px;

    text-align: center;
}

#acceptfriend {
    box-shadow: 3px 3px 2.5px 0px rgb(180 190 145 / 80%);
    background-color: rgba(171, 255, 200, 0.75);
}

#rejectfriend {
    box-shadow: 3px 3px 2.5px 0px rgba(228, 182, 182, 0.8);
    background-color: rgb(253 194 194 / 80%);
}