* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    display: flex;
    padding: 25px;
    gap: 50px;
    min-height: 100vh;
    background: #e1eec3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f05053, #e1eec3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f05053, #e1eec3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    background-color: rgba(167, 167, 167, 0.5);
    height: 600px;
    width: 700px;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 2.5px 4px 10px -1px rgba(99, 99, 99, 0.48);
}

#sidebar {
    height: auto;
    width: 20%;
}

#maincontent {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
}

#dms {
    height: 80%;
    width: 100%;
    padding: 15px;
}

.profile {
    display: flex;
    height: 80px;
    width: 100%;
    gap: 25px;
    background: none;
    border: 0px solid;
    border-radius: 20px;
    transition: all 0.25s;
}

.profile:hover {
    background-color: rgba(225, 225, 225, 0.5);
}

.profile:focus {
    background-color: rgba(225, 225, 225, 0.5);
}

.dmtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(100, 44, 44, 0.75);
}

.dmname {
    font-size: 32px;
    font-weight: 500;
}

.dmstatus {
    display: flex;
}

.pfp {
    border: 5px solid whitesmoke;
    border-radius: 50%;
    max-width: 100%;
    max-height: 80px;
    width: auto;
    height: auto;
}

.statuspic {
    height: 25px;
    width: 25px;
    border: 2px solid rgb(72, 162, 72);
    border-radius: 50%;
    background-color: rgb(96, 216, 96);
    box-shadow: 2px 2px 5px 1px rgba(163, 70, 70, 0.75);
}

.profilespacer {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
    width: 100%;
    background-color: rgba(68, 113, 84, 0.4);
}





#messages {
    height: 90vh;
    width: auto;
    padding: 30px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#messagebox {
    height: 7.5%;
    width: auto;
    display: flex;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#inputmessage {
    flex-grow: 1;
    border: 0px solid;
    background-color: rgba(231, 219, 212, 0.5);
    border-radius: 50px;
}

#sendbtn {
    align-self: center;
    border-radius: 10px;
    margin-left: 40px;
    height: 110%;
    flex-grow: 0.05;
    background-color: rgba(225, 234, 192, 0.8);
    color: rgba(76, 35, 35, 0.75);
    font-size: 24px;
}

.messagerecieve {
    display: flex;
    border: 0px solid;
    border-radius: 15px;
    transition: all 0.25s;
}

.messagerecieve:hover {
    background-color: rgba(225, 225, 225, 0.5);
}

.textinfo {
    height: auto;
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.username {
    color: rgba(76, 35, 35, 0.75);
    font-size: 24px;
    font-weight: 500;
}

.messagetext {
    font-size: 20px;
    color: rgba(47, 23, 23, 0.9);
    justify-content: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(225, 234, 192, 0.8);
    border: 0px solid;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}